body{
    background-color: brown;
}

img{
    display: none;
}

i{
    cursor: pointer;
    color: white;
    animation: scaleup 1s infinite;
}

h1{
    display: none;
    color: black;
    font-size: 42px;
    font-family: sans-serif;
    background-color: goldenrod;
    padding: 5px;
}

button{
    align-self: stretch;
    margin-top: 20px;
}

.view{
    display: inline-block;
    animation: fadeIn 1s linear;
}

@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1
    }
}

.box{
    position: relative;
}

.bar{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 20px;
}

.dot{
    width: 15px;
    height: 15px;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
}

.active{
    background-color: dodgerblue;
}

@keyframes scaleup {
    0%{
        transform: translateY(-5%);
    }
    50%{
        transform: translateY(-10%);
    }
    75%{
        transform: translateY(-5%);
    }
    100%{
        transform: translateY(0);
    }
}